* {
	padding: 0;
	margin: 0;
	font-family: monospace;
	font-size: 16px;
}

body {
	background: #000;
	color: #ddd;
	padding: 40px 0 0 0
}

body.padding-top {
	padding-top: 290px;
}

hr {
	margin: 10px 0;
}

#help {
	position: fixed;
	top: 10px;
	left: 10px;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.green {
	color: green;
}

.indent {
	padding-left: 20px;
}

.start {
	position: fixed;
	top: 0;
	background: #000;
	width: 100%;
	height: 40px;
}

.stats {
	position: fixed;
	background: #000;
	width: 100%;
	top: 40px;
}